*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing:border-box;
}

a{
	text-decoration: none;
	color:#fff;
}
ul{
	list-style: none;
}

img{
	max-width: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1a1ea0 #070d12;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #070d12;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #4021af;
    border-radius: 20px;
    border: 3px solid #070d12;
  }